@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
html{
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}
*{
  font-family: 'Open Sans' !important;
  font-style: normal;
}
.login {
  position: relative;
  margin: 50px auto;
  width: 337px;
  padding: 10px;
  border: 1px solid #333;
}
.login p.submit {
  text-align: right;
  
  padding-top: 15px;
}
.login h1 {
  text-transform: uppercase;
  margin: -10px -10px 0 -10px;
  line-height: 40px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 0 1px white;
  background: #333;
  color: #fff;
  border-bottom: 1px solid #333;
  padding: 10px;


}
.login form{
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
  margin: 0 -10px -10px -10px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;


}
.login p {
  margin: 10px 0 0;
  padding: 10px;
}
.login p.remember_me {
  float: left;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  padding: 5px;
}
/* Text Inputs */
input[type="text"]
    {
    width: 300px;
    color: #333;
    display:block;
    margin-top: 5px;
    border: 1px solid #333;
    height: 25px;

    padding-left: 5px;

    }
input[type="text"]:focus
   {
    border: 1px solid black;
    }
/* Password Text Box Styling */
input[type="password"]
    {
    width: 300px;
    color: #333;
    display:block;
    margin-top: 5px;
    border: 1px solid #333;
    height: 25px;

    padding-left: 5px;
    background: #fff; /* Old browsers */

    }
input[type="password"]:focus
   {
    border: 1px solid black;
    }
/* Button Styling */
button,
input[type="submit"],
input[type="reset"]
    {
    display:inline;

    border: 1px solid #333;
    height: 30px;
    line-height: 25px;
    background: #fff; /* Old browsers */


    button:hover,
    }
input[type="submit"]:hover
    {
    background: #fff; /* Old browsers */

    color: black;
    }
/* CheckBox Styling */
input[type="checkbox"]
    {
    display: none; /* hide original checkbox */
    }
/* checked style for checkbox */
input[type="checkbox"]:checked + label .box
    {
    position: relative;
    }
/* check */
input[type="checkbox"]:checked + label .box:after
    {
    content: '';
    width: 8px;
    height: 4px;
    position: absolute;
    left: 3px;
    top: 2px;
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
 /* unckecked style for checkbox */
.box
    {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #333;
    float: left;
    margin-right: 7px;
    margin-top: 1px;
    background-image: -moz-linear-gradient(top, #fff, #333);
    background-image: -webkit-linear-gradient(top, #fff, #efefef);
    background-image: -ms-linear-gradient(top, #fff, #efefef);
    background-image: linear-gradient(top, #fff, #efefef);
    }
